<header class="page-block">
   <div class="container">
      <div class="header">
         <div class="header__logo hvr-pulse">
            {{> logo}}
         </div>
         <nav class="header__nav">
            {{> nav list=header}}
         </nav>
      </div>
   </div>
</header>
<main class="main">
   <section class="hero">
      <div class="container">
         <div class="hero__modal" id="cookieModal">
            <div class="hero__modal-content">
               <div class="hero__modal-text">
                  Мы используем файлы cookie на нашем веб-сайте. Файлы cookie
                  необходимы для обеспечения правильной работы сайта, а также для
                  улучшения вашего пользовательского опыта. Продолжая использовать
                  наш сайт, вы соглашаетесь с нашей политикой в отношении файлов
                  cookie.
               </div>
               <button id="closeButton">Ок</button>
            </div>
         </div>
         {{#with main}}
         <div class="hero__inner">
            <div class="hero__slider">
               <div class="hero__slider-icon hero__slider-icon--left" onclick="prevSlide()">{{left}}</div>
               <img class="hero__img" src="{{image}}" alt="Hero" width="500"
                  height="500">
               <div class="hero__slider-icon hero__slider-icon--right" onclick="nextSlide()">{{right}}</div>
            </div>
            <div class="hero__content">
               <h1 class="hero__title">{{heading}}</h1>
               <p class="hero__desc">{{descriotion}}</p>
               <button class="hero__btn button" href="{{href}}">{{button}}</button>
            </div>
         </div>
         {{/with}}
      </div>
   </section>
   <section class="blog">
      <div class="container">
         <div class="blog__inner">
            {{#each featured}}
            {{> cardBlog-two data=this}}
            {{/each}}
         </div>
      </div>
   </section>
   <section class="form">
      <div class="container">
         <div class="form__inner">
            {{#each actions}}
            <div class="form__content">
               <h3 class="form__title">{{heading}}</h3>
               <button class="form__btn button" href="{{url}}">{{text}}</button>
            </div>
            {{/each}}
         </div>
      </div>
   </section>
</main>
<footer id="test" class="footer">
   <div class="container">
      <div class="footer__inner">
         <div class="footer__logo">
            {{> logo}}
            <span class="footer__copyright">Copyright 2023-2024</span>
         </div>
         {{#each footer}}
         <div class="footer__content">
            <span class="footer__title">{{title}}</span>
            {{> footer list=links}}
         </div>
         {{/each}}
      </div>
   </div>
</footer>
