<header class="page-block">
   <div class="container">
      <div class="header">
         <div class="header__logo">
            {{> logo}}
         </div>
         <nav class="header__nav">
            {{> nav list=header isAlineRight=true}}
         </nav>
      </div>
   </div>
</header>
<main class="main">
   <section class="hero page-block">
      <div class="container">
         <div class="hero__inner">
            {{#with hero}}
            {{> hero title=title text=text}}
            <a class="hero__button" href="{{button.url}}">{{button.text}}</a>
            {{/with}}
         </div>
      </div>
   </section>
   <section class="cards page-block">
      <div class="container">
         <div class="row g-4">
            {{#each preview}}
            <div class="col-6">
               {{> cardPreview data=this}}
            </div>
            {{/each}}
         </div>
      </div>
   </section>
   <section class="blogs page-block">
      <div class="container">
         <div class="posts">
            <div class="row">
               <div class="col-6">
                  <h2 class="posts__title">List of posts</h2>
               </div>
               <div class="col-6 text-end">
                  {{#each categories}}
                  <button class="posts__btn">{{text}}</button>
                  {{/each}}
               </div>
            </div>
         </div>
         <div class="row gx-5">
            <div class="col-7">
               <div class="blog__inner">
                  {{#each news}}
                  {{> cardBlog data=this}}
                  {{/each}}
               </div>
            </div>
            <div class="col-5">
               <aside class="aside">
                  <div class="about">
                     <strong class="about__title">About</strong>
                     <p class="about__text">{{about}}</p>
                  </div>
                  {{> linkList data=archive title="Archives"}}
                  {{> linkList data=social title="Social"}}
               </aside>
            </div>
         </div>
      </div>
   </section>
</main>
<footer class="footer">
   <div class="container">
      <div class="footer__inner">
         <div class="footer__logo">
            {{> logo}}
            <span class="footer__copyright">Copyright 2023-2024</span>
         </div>
         {{#each footer}}
         <div class="footer__content">
            <span class="footer__title">{{title}}</span>
            {{> footer list=links}}
         </div>
         {{/each}}
      </div>
   </div>
</footer>
