{{#with data}}
<div class="preview">
   <div class="preview__header">
      <span class="preview__date">{{date}}</span>
      {{#each category}}
      <span class="preview__category preview__category--{{id}}">{{text}}</span>
      {{/each}}
   </div>
   <strong class="preview__title">{{title}}</strong>
   <p class="preview__description">{{text}}</p>
   <a href="#!">Continue reading</a>
</div>
{{/with}}